<ul class="payment_options">
  <li>
    <a href="#credit_card" id="pay_cc">
      <%= image_tag "cc_icon", alt: "Credit Card" %>
    </a>
  </li>

  <li>
    <a href="#cimb_click" id="pay_cimbc">
      <%= image_tag "cic_icon", alt: "CIMB Clicks" %>
    </a>
  </li>

  <li>
    <a href="#permata_va" id="pay_permva">
      <%= image_tag "permata_icon", alt: "Permata Bank Transfer" %>
    </a>
  </li>

  <li>
    <a href="#telkomsel_tcash" id="pay_tcash">
      <%= image_tag "tcash_icon", alt: "Telkomsel t-Cash" %>
    </a>
  </li>

  <li>
    <a href="#mandiri_clickpay" id="pay_manclick">
      <%= image_tag "mc_icon", alt: "Mandiri Clickpay" %>
    </a>
  </li>

  <li>
    <a href="#bri_ebri" id="pay_brie">
      <%= image_tag "bri_icon", alt: "BRI e-BRI" %>
    </a>
  </li>
</ul>
