<section class="payment_option_forms">
  <div class="payment_form pay_cc">
    <%= render "checkouts/direct_forms/credit_card_form" %>
  </div>

  <div class="payment_form pay_cimbc">
    <%= render "checkouts/direct_forms/cimb_clicks_form" %>
  </div>

  <div class="payment_form pay_permva">
    <%= render "checkouts/direct_forms/permata_va_form" %>
  </div>

  <div class="payment_form pay_tcash">
    <%= render "checkouts/direct_forms/telkomsel_tcash_form" %>
  </div>

  <div class="payment_form pay_manclick">
    <%= render "checkouts/direct_forms/mandiri_click_form" %>
  </div>

  <div class="payment_form pay_brie">
    <%= render "checkouts/direct_forms/ebri_form" %>
  </div>
</section>