<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Shopoza', root_path, class: 'navbar-brand'%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class= <%= active_link(orders_path) %> >
          <%= link_to "Order History", orders_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <% if @cart.present?%>
          <li class= <%= active_link(order_path(@cart)) %>>
             <% cart_symbol = '<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>'%>
             <%= link_to "#{cart_symbol} Cart".html_safe, order_path(@cart),
              class: "nav-link #{active_link(order_path(@cart))}" %>
          </li>
         <% else %>
          <li class= <%= active_link(no_cart_orders_path)%> >
            <%= link_to 'Cart', no_cart_orders_path, class: 'nav-link' %>
          </li>
         <% end %>
        </li>
        <li>
          <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
                <span class="caret"></span>
              </a>
               <ul class="dropdown-menu">
                 <li>
                   <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link'%>
                 </li>
                 <li>
                   <%= link_to "Logout", destroy_user_session_path, class: "nav-link" %>
                 </li>
               </ul>
            </li>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
