<div class='row'>
  <div class='col-sm-offset-1 col-sm-8'>
    <div class='col-sm-offset-2'>
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
      <% if devise_error_messages!.present? %>
        <div class="alert alert-danger">
          <%= devise_error_messages! %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class='col-sm-10'>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class='col-sm-10'>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <em>(leave blank if you don't want to change it)</em>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
        <div class='col-sm-10'>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          <em>(we need your current password to confirm your changes)</em>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_password, class: 'col-sm-2 control-label' %>
        <div class='col-sm-10'>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class='col-sm-offset-2 col-sm-10'>
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-offset-1 col-sm-8'>
    <div class='col-sm-offset-2'>
      <h3>Unhappy?</h3>
    </div>
    <br/>
    <div class='col-sm-offset-2'>
      <p>
        <%= button_to "Cancel my account", registration_path(resource_name),
          class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      </p>
    </div>

    <div class='col-sm-offset-2'>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
